nav {
    background-color: burlywood;
    padding:2opx;
    border:solid blueviolet 10px;
}
ol {
    display: flex;
    list-style: none;
    gap: 20px;
    
}
header{
    display:flex;
    justify-content: space-between;
    
}
body{
    background-color: cadetblue;
}
img{
    border:30px;
    margin:10px;
}
div{
    background-color: darkgoldenrod;
}
marquee{
    font-size: 50px;
    color: blueviolet;
    background-image: url(./image/77a8a00e436bc70b2cf1e6ed50c4a4d3.jpg);
}